<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <meta charset="utf-8"/>
    <script th:src="@{/page/project/js/project.js}"></script>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/page/project/js/project.js}"></script>
</th:block>

<th:block layout:fragment="page_top_nav">
    <nav class="cui-breadcrumbs cui-breadcrumbs-bg">
        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formProjectNew">
                Create Project
            </button>
        </div>
        <span class="font-size-18 d-block">
                    <span class="text-muted">Home ·</span>
                    <strong>Welcome to Project Portal</strong>
                    <small class="text-muted">projects, new and reports</small>
                  </span>
    </nav>
</th:block>


<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="cui-utils-sortable" id="left-col">
                <div class="card" data-order-id="card-1">
                    <div class="card-header">
                        <div class="cui-utils-title"><strong>Project List</strong></div>
                        <div class="cui-utils-title-description">All projects charged by me!</div>
                    </div>
                    <div class="card-body">
                        <div id="dgProjects"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="modals">
    <div th:replace="/fragments/modal :: form_project_new"></div>
    <div id="popup_add_users">
        <div id="fm_add_user">
        </div>
    </div>

    <div id="popup_add_milestone">

        <div class="dx-field">
            <div class="dx-field-label">Milestone desc</div>
            <div class="dx-field-value">
                <div id="text_add_milestone">
                </div>
            </div>

        </div>

        <div class="dx-field">
            <div class="dx-field-label">Deadline</div>
            <div class="dx-field-value">
                <div id="date_add_milestone">
            </div>
            </div>
        </div>


    </div>

</th:block>
</body>
</html>