<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="${#locale.language}">
<head>
    <title>Admin Dashboard HTML Template</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link th:href="@{/bower_components/select2/dist/css/select2.min.css}" rel="stylesheet">
    <link th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/bower_components/dropzone/dist/dropzone.css}" rel="stylesheet">
    <link th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bower_components/fullcalendar/dist/fullcalendar.min.css}" rel="stylesheet">
    <link th:href="@{/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css}" rel="stylesheet">
    <link th:href="@{/bower_components/slick-carousel/slick/slick.css}" rel="stylesheet">

    <!-- DevExtreme themes -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/19.1.3/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/19.1.3/css/dx.light.css">

    <link th:href="@{/css/main.css?version=4.4.0}" rel="stylesheet">
</head>
<body class="menu-position-top full-screen">
<div class="all-wrapper solid-bg-all">
    <div class="search-with-suggestions-w">
        <div class="search-with-suggestions-modal">
            <div class="element-search">
                <input class="search-suggest-input" placeholder="Start typing to search..." type="text">
                <div class="close-search-suggestions">
                    <i class="os-icon os-icon-x"></i>
                </div>
                </input>
            </div>
            <div class="search-suggestions-group">
                <div class="ssg-header">
                    <div class="ssg-icon">
                        <div class="os-icon os-icon-box"></div>
                    </div>
                    <div class="ssg-name">
                        Projects
                    </div>
                    <div class="ssg-info">
                        24 Total
                    </div>
                </div>
                <div class="ssg-content">
                    <div class="ssg-items ssg-items-boxed">
                        <a class="ssg-item" href="users_profile_big.html">
                            <div class="item-media" style="background-image: url(img/company6.png)"></div>
                            <div class="item-name">
                                Integ<span>ration</span> with API
                            </div>
                        </a><a class="ssg-item" href="users_profile_big.html">
                        <div class="item-media" style="background-image: url(img/company7.png)"></div>
                        <div class="item-name">
                            Deve<span>lopm</span>ent Project
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="search-suggestions-group">
                <div class="ssg-header">
                    <div class="ssg-icon">
                        <div class="os-icon os-icon-users"></div>
                    </div>
                    <div class="ssg-name">
                        Customers
                    </div>
                    <div class="ssg-info">
                        12 Total
                    </div>
                </div>
                <div class="ssg-content">
                    <div class="ssg-items ssg-items-list">
                        <a class="ssg-item" href="users_profile_big.html">
                            <div class="item-media" style="background-image: url(img/avatar1.jpg)"></div>
                            <div class="item-name">
                                John Ma<span>yer</span>s
                            </div>
                        </a><a class="ssg-item" href="users_profile_big.html">
                        <div class="item-media" style="background-image: url(img/avatar2.jpg)"></div>
                        <div class="item-name">
                            Th<span>omas</span> Mullier
                        </div>
                    </a><a class="ssg-item" href="users_profile_big.html">
                        <div class="item-media" style="background-image: url(img/avatar3.jpg)"></div>
                        <div class="item-name">
                            Kim C<span>olli</span>ns
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="search-suggestions-group">
                <div class="ssg-header">
                    <div class="ssg-icon">
                        <div class="os-icon os-icon-folder"></div>
                    </div>
                    <div class="ssg-name">
                        Files
                    </div>
                    <div class="ssg-info">
                        17 Total
                    </div>
                </div>
                <div class="ssg-content">
                    <div class="ssg-items ssg-items-blocks">
                        <a class="ssg-item" href="#">
                            <div class="item-icon">
                                <i class="os-icon os-icon-file-text"></i>
                            </div>
                            <div class="item-name">
                                Work<span>Not</span>e.txt
                            </div>
                        </a><a class="ssg-item" href="#">
                        <div class="item-icon">
                            <i class="os-icon os-icon-film"></i>
                        </div>
                        <div class="item-name">
                            V<span>ideo</span>.avi
                        </div>
                    </a><a class="ssg-item" href="#">
                        <div class="item-icon">
                            <i class="os-icon os-icon-database"></i>
                        </div>
                        <div class="item-name">
                            User<span>Tabl</span>e.sql
                        </div>
                    </a><a class="ssg-item" href="#">
                        <div class="item-icon">
                            <i class="os-icon os-icon-image"></i>
                        </div>
                        <div class="item-name">
                            wed<span>din</span>g.jpg
                        </div>
                    </a>
                    </div>
                    <div class="ssg-nothing-found">
                        <div class="icon-w">
                            <i class="os-icon os-icon-eye-off"></i>
                        </div>
                        <span>No files were found. Try changing your query...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-w">
        <div th:replace="fragments/menu.html :: menu_top"></div>
        <div class="content-w">
            <!--------------------
            START - Top Bar
            -------------------->
            <div class="top-bar color-scheme-transparent d-none">
                <!--------------------
                START - Top Menu Controls
                -------------------->
                <div class="top-menu-controls">
                    <div class="element-search autosuggest-search-activator">
                        <input placeholder="Start typing to search..." type="text">
                    </div>
                    <!--------------------
                    START - Messages Link in secondary top menu
                    -------------------->
                    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
                        <i class="os-icon os-icon-mail-14"></i>
                        <div class="new-messages-count">
                            12
                        </div>
                        <div class="os-dropdown light message-list">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar1.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">
                                                John Mayers
                                            </h6>
                                            <h6 class="message-title">
                                                Account Update
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar2.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">
                                                Phil Jones
                                            </h6>
                                            <h6 class="message-title">
                                                Secutiry Updates
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar3.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">
                                                Bekky Simpson
                                            </h6>
                                            <h6 class="message-title">
                                                Vacation Rentals
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="user-avatar-w">
                                            <img alt="" src="img/avatar4.jpg">
                                        </div>
                                        <div class="message-content">
                                            <h6 class="message-from">
                                                Alice Priskon
                                            </h6>
                                            <h6 class="message-title">
                                                Payment Confirmation
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--------------------
                    END - Messages Link in secondary top menu
                    --------------------><!--------------------
              START - Settings Link in secondary top menu
              -------------------->
                    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
                        <i class="os-icon os-icon-ui-46"></i>
                        <div class="os-dropdown">
                            <div class="icon-w">
                                <i class="os-icon os-icon-ui-46"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="users_profile_small.html"><i class="os-icon os-icon-ui-49"></i><span>Profile Settings</span></a>
                                </li>
                                <li>
                                    <a href="users_profile_small.html"><i class="os-icon os-icon-grid-10"></i><span>Billing Info</span></a>
                                </li>
                                <li>
                                    <a href="users_profile_small.html"><i class="os-icon os-icon-ui-44"></i><span>My Invoices</span></a>
                                </li>
                                <li>
                                    <a href="users_profile_small.html"><i class="os-icon os-icon-ui-15"></i><span>Cancel Account</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--------------------
                    END - Settings Link in secondary top menu
                    --------------------><!--------------------
              START - User avatar and menu in secondary top menu
              -------------------->
                    <div class="logged-user-w">
                        <div class="logged-user-i">
                            <div class="avatar-w">
                                <img alt="" src="img/avatar1.jpg">
                            </div>
                            <div class="logged-user-menu color-style-bright">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                        <img alt="" src="img/avatar1.jpg">
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">
                                            Maria Gomez
                                        </div>
                                        <div class="logged-user-role">
                                            Administrator
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-icon">
                                    <i class="os-icon os-icon-wallet-loaded"></i>
                                </div>
                                <ul>
                                    <li>
                                        <a href="apps_email.html"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a>
                                    </li>
                                    <li>
                                        <a href="users_profile_big.html"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
                                    </li>
                                    <li>
                                        <a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--------------------
                    END - User avatar and menu in secondary top menu
                    -------------------->
                </div>
                <!--------------------
                END - Top Menu Controls
                -------------------->
            </div>
            <!--------------------
            END - Top Bar
            --------------------><!--------------------
          START - Breadcrumbs
          -------------------->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Laptop with retina screen</span>
                </li>
            </ul>
            <!--------------------
            END - Breadcrumbs
            -------------------->
            <div class="content-i">
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/bower_components/moment/moment.js}"></script>
<script th:src="@{/bower_components/chart.js/dist/Chart.min.js}"></script>
<script th:src="@{/bower_components/select2/dist/js/select2.full.min.js}"></script>
<script th:src="@{/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js}"></script>
<script th:src="@{/bower_components/ckeditor/ckeditor.js}"></script>
<script th:src="@{/bower_components/bootstrap-validator/dist/validator.min.js}"></script>
<script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js}"></script>
<script th:src="@{/bower_components/dropzone/dist/dropzone.js}"></script>
<script th:src="@{/bower_components/editable-table/mindmup-editabletable.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/bower_components/fullcalendar/dist/fullcalendar.min.js}"></script>
<script th:src="@{/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/bower_components/tether/dist/js/tether.min.js}"></script>
<script th:src="@{/bower_components/slick-carousel/slick/slick.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/util.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/alert.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/button.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/carousel.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/collapse.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/dropdown.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/modal.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/tab.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/tooltip.js}"></script>
<script th:src="@{/bower_components/bootstrap/js/dist/popover.js}"></script>
<!--<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>-->

<!-- Reference either Knockout or AngularJS, if you do -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

<!-- DevExtreme library -->
<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/19.1.3/js/dx.all.js"></script>
<!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/19.1.3/js/dx.web.js"></script> -->
<!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/19.1.3/js/dx.viz.js"></script> -->
<!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/19.1.3/js/dx.viz-web.js"></script> -->
<script th:src="@{/js/demo_customizer.js?version=4.4.0}"></script>
<script th:src="@{/js/main.js?version=4.4.0}"></script>
<th:block layout:fragment="script"></th:block>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXXXX-9', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
