<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Menu left</title>
</head>
<body>

<div class="card" data-order-id="card-1" th:fragment="card_student_subject">
    <div class="card-header">
        <div class="pull-right cui-utils-sortable-control">
            <i
                    class="icmn-minus mr-2 cui-utils-sortable-collapse"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Collapse"
            ></i>
            <i
                    class="icmn-plus mr-2 cui-utils-sortable-uncollapse"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Uncollapse"
            ></i>
            <i
                    class="icmn-cross cui-utils-sortable__close"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Remove"
            ></i>
        </div>
        <div class="cui-utils-title"><strong>Subject related</strong></div>
        <div class="cui-utils-title-description">All cards are draggable and sortable!</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="cui-profile-head-card">
                    <div
                            class="cui-profile-head-card-head"
                            style="background-image: url('../../components/dummy-assets/common/img/photos/6.jpeg');"
                    >
                        <h2 class="text-white">
                            <strong>
                                Clean. Simple <br />
                                Responsive
                            </strong>
                        </h2>
                    </div>
                    <div class="cui-profile-head-card-content">
                        <div class="cui-profile-head-card-left">
                            <a
                                    class="d-block mx-auto mb-2 cui-avatar cui-avatar-90 cui-avatar-bordered cui-avatar-border-white"
                                    href="javascript: void(0);"
                            >
                                <img
                                        src="../../components/dummy-assets/common/img/avatars/5.jpg"
                                        alt="Alternative text to the image"
                                />
                            </a>
                            <strong>Helen Maggie</strong>
                            <br />
                            <span class="text-muted">@helen_m</span>
                        </div>
                        <div class="cui-profile-head-card-right">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" data-order-id="card-1" th:fragment="card_student_todos">
    <div class="card-header">
        <div class="pull-right cui-utils-sortable-control">
            <i
                    class="icmn-minus mr-2 cui-utils-sortable-collapse"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Collapse"
            ></i>
            <i
                    class="icmn-plus mr-2 cui-utils-sortable-uncollapse"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Uncollapse"
            ></i>
            <i
                    class="icmn-cross cui-utils-sortable__close"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Remove"
            ></i>
        </div>
        <div class="cui-utils-title"><strong>Account Information</strong></div>
        <div class="cui-utils-title-description">All cards are draggable and sortable!</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="cui-profile-head-card">
                    <div
                            class="cui-profile-head-card-head"
                            style="background-image: url('../../components/dummy-assets/common/img/photos/6.jpeg');"
                    >
                        <h2 class="text-white">
                            <strong>
                                Clean. Simple <br />
                                Responsive
                            </strong>
                        </h2>
                    </div>
                    <div class="cui-profile-head-card-content">
                        <div class="cui-profile-head-card-left">
                            <a
                                    class="d-block mx-auto mb-2 cui-avatar cui-avatar-90 cui-avatar-bordered cui-avatar-border-white"
                                    href="javascript: void(0);"
                            >
                                <img
                                        src="../../components/dummy-assets/common/img/avatars/5.jpg"
                                        alt="Alternative text to the image"
                                />
                            </a>
                            <strong>Helen Maggie</strong>
                            <br />
                            <span class="text-muted">@helen_m</span>
                        </div>
                        <div class="cui-profile-head-card-right">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" data-order-id="card-1" th:fragment="card_student_notifications">
    <div class="card-header">
        <div class="pull-right cui-utils-sortable-control">
            <i
                    class="icmn-minus mr-2 cui-utils-sortable-collapse"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Collapse"
            ></i>
            <i
                    class="icmn-plus mr-2 cui-utils-sortable-uncollapse"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Uncollapse"
            ></i>
            <i
                    class="icmn-cross cui-utils-sortable__close"
                    data-toggle="tooltip"
                    data-placement="left"
                    title=""
                    data-original-title="Remove"
            ></i>
        </div>
        <div class="cui-utils-title"><strong>Notifications</strong></div>
        <div class="cui-utils-title-description">All cards are draggable and sortable!</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="cui-profile-head-card">
                    <div
                            class="cui-profile-head-card-head"
                            style="background-image: url('../../components/dummy-assets/common/img/photos/6.jpeg');"
                    >
                        <h2 class="text-white">
                            <strong>
                                Clean. Simple <br />
                                Responsive
                            </strong>
                        </h2>
                    </div>
                    <div class="cui-profile-head-card-content">
                        <div class="cui-profile-head-card-left">
                            <a
                                    class="d-block mx-auto mb-2 cui-avatar cui-avatar-90 cui-avatar-bordered cui-avatar-border-white"
                                    href="javascript: void(0);"
                            >
                                <img
                                        src="../../components/dummy-assets/common/img/avatars/5.jpg"
                                        alt="Alternative text to the image"
                                />
                            </a>
                            <strong>Helen Maggie</strong>
                            <br />
                            <span class="text-muted">@helen_m</span>
                        </div>
                        <div class="cui-profile-head-card-right">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
